.feedbacky__container {
    right: 12px;
    bottom: 12px;
}

.feedbacky__button {
    backface-visibility: hidden;
    border: 1px solid #dcdcdc;
    border-bottom-width: 2px;
    bottom: 5px;
    position: fixed;
    right: 20px;
    width: 40px;
    border: none;
    background-color: transparent;
    color: orange;
    line-height: 42px;
    z-index: 1000;
    position: fixed;
}
