.feedbacky__modal {
    float: left;
    width: 700px;
    height: 520px;
    margin: auto;
    display: block;
}



.close__button {

}

.send__button {
    backface-visibility: hidden;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    height: 40px;
    line-height: 42px;
    margin: 5px;
    position: fixed;
}